p {
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th, td {
    padding: 5px;
    text-align: left;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

th {
    border-right: #ddd 1px solid;
}

tr:hover {background-color: #f5f5f5;}
